<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>apiKey</key>
	<string>8CQVGoIud3Fey9gZaB9luFflkWp17z1ptD3gH2To</string>
	<key>roverPageURL</key>
	<dict>
		<key>curiosity</key>
		<string>https://mars.nasa.gov/msl/mission/overview</string>
		<key>spirit</key>
		<string>https://www.jpl.nasa.gov/missions/mars-exploration-rover-spirit-mer-spirit</string>
		<key>opportunity</key>
		<string>https://www.jpl.nasa.gov/missions/mars-exploration-rover-opportunity-mer</string>
	</dict>
	<key>api</key>
	<dict>
		<key>scheme</key>
		<string>https</string>
		<key>domain</key>
		<string>api.nasa.gov</string>
		<key>subDomain</key>
		<string>/mars-photos/api/</string>
		<key>version</key>
		<string>v1</string>
	</dict>
</dict>
</plist>
